
    <div class="jumbotron">
     <h1>Buy,Sell or Trade your Game!</h1>
	<p>
	    Let's play! :) 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application.
	    </p>


  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now!</a></p>
</div>
