<% if user_signed_in? %>
     <h1>You're logged in! </h1>
<%else %>
    <div class="jumbotron">
     <h1>Buy,Sell or Trade your Game!</h1>
	<p>
	    Let's play! :) 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application.
	    </p>
	    <p>
<%= link_to "Sign Up Now!" , new_user_registration_path ,class:"btn btn-primary btn-lg" %>
</p>
 

</div>
<%end %>