

 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
      <ul class="nav navbar-nav navbar-fixed-top navbar-static-top">
      	 
      	<a class="navbar-brand" href="#">Game Trade</a>
         <li><%= link_to "Home" ,root_path %> </li>
        <li><%= link_to "About" ,about_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Playstation 4</a></li>
            <li><a href="#">Xbox One</a></li>
            <li><a href="#">Wii U</a></li>
            <li class="divider"></li>
                        <li><a href="#">Xbox 360</a></li>
                        <li><a href="#">Playstation 3</a></li>
            <li class="divider"></li>
            <li><a href="#">Other Games</a></li>
          </ul>
       
        </li>
      </ul>
</div>

